[Desktop Entry]
Comment=Use WPS Presentation to edit and play presentations.
Comment[fr_FR]= Présentation de type PowerPoint
Exec=wps-office-all-lang-no-internet.wpp %U
GenericName=WPS Presentation
GenericName[fr_FR]=WPS Présentation
MimeType=application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.presentation.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;application/vnd.ms-powerpoint.template.macroEnabled.12;application/vnd.openxmlformats-officedocument.presentationml.slide;application/vnd.openxmlformats-officedocument.presentationml.slideshow;application/vnd.ms-powerpoint.slideshow.macroEnabled.12;application/vnd.oasis.opendocument.presentation-flat-xml;application/x-iwork-keynote-sffkey;
Name=WPS Presentation
Name[fr_FR]=WPS présentation
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;Presentation;Qt;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=${SNAP}/usr/share/icons/hicolor/256x256/apps/wps-office-wppmain.png
InitialPreference=3
StartupWMClass=wpp

