.charr1{BACKGROUND-IMAGE: url('../images/arrowrt.gif');WIDTH: 11px;HEIGHT: 11px;background-repeat:no-repeat }
.charrlose{BACKGROUND-IMAGE: url('../none');}
.charr2{BACKGROUND-IMAGE: url('../images/arrowdn.gif');WIDTH: 11px;HEIGHT: 11px;background-repeat:no-repeat }
h1{font-size:12pt; color:#000000;font-weight:bold}
p{font-size:10pt; }
ol{list-style-type: decimal; line-height: 150%; font-size: 10pt}
ul{font-size: 10pt; line-height: 150%; list-style-type: disc}
a{color: #0000FF; font-size:10pt}
div{font-size:10pt}
tr{font-size:10pt}

.th1{
	bgcolor:#C0C0C0;
	width:114;
	background-color: #C0C0C0;
	background-position: left;
	text-align: left;
	height: 19px;
	border-top: #c0c0c0;
	border-right: solid #FFFFFF;
	border-bottom: #c0c0c0;
	border-left: #c0c0c0;
}
.th2{
	bgcolor:#C0C0C0;
	background-color: #C0C0C0;
	background-position: left;
	text-align: left;
	height: 19px;
	border-top: #c0c0c0;
	border-right: solid #FFFFFF;
	border-bottom: #c0c0c0;
	border-left: #c0c0c0;
}
.th3{
	bgcolor:#C0C0C0;
	background-color: #C0C0C0;
	background-position: left;
	text-align: left;
	height: 19px;
	border-top: #c0c0c0;
	border-right: solid #FFFFFF;
	border-bottom: #c0c0c0;
	border-left: #c0c0c0;
}
.th4{
	bgcolor:#C0C0C0;
	background-color: #C0C0C0;
	background-position: left;
	text-align: left;
	height: 19px;
	border-top: #c0c0c0;
	border-right: solid #FFFFFF;
	border-bottom: #c0c0c0;
	border-left: #c0c0c0;
}

.tableTr {
	font-size:10pt;
}
.bottomLine{
	font-size:10pt;
	bordercolor: #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	background-position: left center;
	text-align: left;
	line-height: 150%;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

.pindent{
text-indent:-3em;
margin-left:3em;
}